@model Proyecto.Entities.Entities.tbPlantilla
@{
    ViewData["Title"] = "PrintBy";
}

<h1>PrintBy</h1>

<form asp-route="PrintBy" autocomplete="off" method="post">
    <div class="form-group">
        <input type="text" asp-for="planti_Turno" class="form-control" maxlength="300" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Guardar" class="btn btn-info" target="_blank" />
            <a class="btn btn-danger" asp-area="" asp-controller="Plantilla" asp-action="Print" target="_blank">Volver</a>
        </div>
    </div>
</form>

